@use '../visual/colors/colors' as colors;
@use '../visual/fonts/fonts' as fonts;
@use '../visual/reusable/main-header' as header;

/* general */
body {
    background-color: colors.$bkg;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.signuppage {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    @include fonts.main;

    /* header */
    @include header.style;

    .signupbar {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 14%;
        width: 100%;
        z-index: 8;
        background-color: colors.$primary_dark;

        .signupbar__text {
            position: absolute;
            margin-top: 63px;
            margin-left: 2.5%;
            background-color: colors.$primary_dark;
            color: colors.$bkg;
            font-weight: bold;
            font-size: 2em;
        }
    }

    /* main part */
    .main-part {
        padding-top: 14%;
        display: flex;
        height: 70vh;

        .signup-page__left,
        .signup-page__right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .signup-page__image {
            width: 400px;
            max-width: 100%;
            height: auto;
        }

        .signup-page__title {
            color: colors.$primary_light;
            font-size: 32px;
            margin-top: 5px;
        }

        .signup-page__right {
            background-color: colors.$bkg;
        }

        .signup-form {
            width: 80%;
            margin: 0 auto;

            .signup-form__field {
                margin-bottom: 10px;
            
                .signup-form__label {
                    display: block;
                    margin-bottom: 5px;
                }
            
                .signup-form__select {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: white;
                    margin-top: 5px;
                }
            }
    
            .signup-form__input {
                width: 100%;
                padding: 10px;
                border: 1px solid colors.$bkg; 
                border-radius: 5px;
            }
    
            .signup-form__submit {
                width: 100%;
                margin-top: 10px;
                padding: 10px;
                background-color: colors.$primary_dark; 
                color: colors.$bkg; 
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
    
                &:hover {
                    background-color: colors.$primary_light;
                }
            }
        }

        .login-text {
            margin-top: 20px;
            font-size: 14px;
            color: colors.$text; 
        }
        
        .login-text__link {
            color: colors.$accent;
            text-decoration: none;
        
            &:hover {
                text-decoration: underline;
            }
        }
    }
}